
/* ############################################################### */
/* ------------------------- Généralités ------------------------- */
/* ############################################################### */


* {
    font-family: "Montserrat";
    margin: 0px;                   /**/
    padding: 0px;                  /* -> paramètres basique pour éviter tout problème d'affichage */
    box-sizing: border-box;        /**/
}

a:hover {
    opacity: 0.8;
}

button {
    border-style: none;
    background: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

/* ################################################################################### */
/* ------------------------- Animation de changement de page ------------------------- */
/* ################################################################################### */

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #1abc9c;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

/* ##################################################################### */
/* ------------------------- Bar de navigation ------------------------- */
/* ##################################################################### */

.logo {                     /* Logo du site */
    color: #1abc9c;
    font-size: 44px;
    font-weight: 800;
    margin-left: 30px;
}

/* -------------------- Boutons de navigation -------------------- */

.navBtn {                   /* Div des boutons de navigation */
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin-right: 15px;
    margin-top: 8px;
}

.navBtn li {                /* Sélectionne toutes les balises <li> de l'<ul> "navBtn" */
    list-style: none;
}

.navBtn a {                 /* Sélectionne toutes les balises <a> de l'<ul> "navBtn" */
    color: #757575;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
}

.userBtn {                  /* Bouton utilisateur */
    font-size: 32px;
    color: #757575;
    cursor: pointer;
    padding-left: 2px;
    margin-top: -6px;
}

/* -------------------- Burger -------------------- */

.burger {                   /* Bouton menu en mode petit écran */
    display: none;
    margin-right: 30px;
    cursor: pointer;
    z-index:2;
}

.burger div {               /* Barre du burger */
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #757575;
    transition: all 0.3s ease;
}

/* -------------------- Animation du Burger -------------------- */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* -------------------- Responsive de la bar de navigation -------------------- */

@media screen and (max-width:950px) {       /* Applique les styles suivant dès lors que la largeur */
    body {                                       /* de l'écran est en dessous de 950 pixels */
        overflow: hidden;
    }
    .navBtn {
        position: absolute;
        right: 0px;
        height: 100%;
        margin: 0px;
        top: 0;
        background: #ecf0f1;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navBtn li {
        opacity: 0;     /* Cache les boutons (permet un effet de fondu à l'ouverture) */
    }
    .burger {
        display: block;      /* Affiche le burger */
    }   
}

.navOpen {              /* Ouverture du menu (grâce au javascript */
    transform: translateX(0%);
}

@keyframes navBtnFade {         /* Animation de fondu des boutons à l'ouverture du menu */
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* #################################################################### */
/* ------------------------- Menu utilisateur ------------------------- */
/* #################################################################### */

.userMenu {                     /* Div du menu */
    position: absolute;
    list-style: none;
    background: #ecf0f1;
    text-align: right;
    border-radius: 20px;
    top: 130px;
    right: 20px;
    padding: 15px 25px 15px 25px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.corner {                       /* Flèche suppérieur du menu */
    position: absolute;
    background: #ecf0f1;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: -5px;
    right: 20px;
}

.userMenu a {               
    text-decoration: none;
    color: #757575;
    font-size: 17px;
    line-height: 35px;
    cursor: pointer;
}

.userMenuOpen {                 /* Affichage du menu (grâce au javascript) */
    visibility: visible;
    opacity: 1;
    top: 90px;
}






#test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 70px;
    z-index: -1;
}
